To be or not to be. That is the question!
{% block content %}
    <br><h1>Wow it's realy works...</h1>
     <p><a href="http://github.com/Killsoft1692/" target="_blank"><button class="css3button" name="button" type="button" value="Button">Official page</button></a></p>
{% endblock %}